.navbar {
  box-shadow: -1.4px -1.4px 6px 0 #97a2a0;
}

.navbar .wrapper {
  height: 84px;
  margin: 0 auto;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 14px;
}

.navbar__site-name {
  font-size: 36px;
  color: #489846;
  font-family: Questrial;
}

.navbar__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  color: #010101;
  font-size: 16px;
  font-family: MicrosoftJhengHei;
}

.navbar__list li {
  margin-left: 12px;
  border-radius: 8px;
  transition: background 0.2s ease-in;
}

.navbar__list li.active a, .navbar__list li a:hover {
  color: white;
}

.navbar__list li.active, .navbar__list li:hover {
  background-color: #ff7286;
  color: white;
  cursor: pointer;
}

.navbar__list li a {
  display: block;
  text-decoration: none;
  color: black;
  padding: 12px 25px;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  background: no-repeat url('./games-bn.png');
  height: 600px;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
}

.lottery {
  position: absolute;
  height: 500px;
  width: 450px;
  background: white;
  border-radius: 16px;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.lottery__title {
  color: #5ec1b6;
  text-align: center;
  font-family: MicrosoftJhengHei;
  font-size: 24px;
  font-weight: bold;
  margin: 30px 0px;
}

.lottery__info {
  margin: 10px 20px;
  padding-bottom: 6px;
}

.lottery__info-item {
  display: flex;
  padding-bottom: 20px;
  border-bottom: 1px solid #cdcdcd;
  align-items: flex-start;
}

.lottery__info-item + .lottery__info-item {
  margin-top: 20px;
}


.info-item__title {
  width: 100px;
  font-family: MicrosoftJhengHei;
  font-size: 16px;
  font-weight: bold;
  align-items: center;
  line-height: 1.5;
}

.info-item__content {
  width: 350px;
  font-size: 14px;
  line-height: 1.63;
  letter-spacing: 2px;
}

.lottery__btn {
  color: white;
  font-family: MicrosoftJhengHei;
  font-size: 18px;
  background: #e62a45;
  border-radius: 8px;
  width: 300px;
  height: 45px;
  border: none;
  z-index: 1;
  margin: 0 auto;
  cursor: pointer;
}

.first {
  background: no-repeat url('./first.jpeg');
  background-size: cover;
}

.second {
  background: no-repeat url('./second.jpeg');
  height: 600px;
  background-size: cover;
  flex-direction: column;
}

.third {
  background: no-repeat url('./third.jpeg');
  height: 600px;
  background-size: cover;
  flex-direction: column;
}

.none {
  background: black;
  height: 600px;
  background-size: cover;
  flex-direction: column;
}

.first .result .result__content, .second .result .result__content, .third .result .result__content {
  font-size: 30px;
  margin-bottom: 50px;
  line-height: 40px;
  background: white;
  padding: 10px;
  border-radius: 8px;
  color: #292222;
}

.none .result .result__content {
  font-size: 30px;
  margin: 150px 20px 100px 20px;
  line-height: 30px;
  color: white;
  background: black;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
}

.result {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.result__btn {
  color: white;
  font-family: MicrosoftJhengHei;
  font-size: 18px;
  background: #e62a45;
  border-radius: 8px;
  width: 300px;
  height: 45px;
  border: none;
  z-index: 1;
  margin: 0 auto;
  cursor: pointer;
  margin-bottom: 100px;
}

.hide {
  display: none;
}

.footer__top {
  background: #e8efee;
  padding: 32px;
  color: #484848
}

.footer__top .wrapper {
  display: flex;
  justify-content:space-between;
}

.footer__info {
  margin-right: 10px;
}


.footer__info div + div{
  margin-top: 10px;
}

.footer__site {
  font-family: Questrial;
  font-size: 36px;
  color: #489846;
}

.footer__bottom {
  background: #35564b;
  padding: 12px;
  text-align: center;
  color: white;
  font-family: MicrosoftJhengHei;
  font-size: 16px;
}

@media(max-width: 768px) {
  .navbar .wrapper {
    height: 140px;
    flex-direction: column;
    margin-bottom: 0;
    padding: 0;
    justify-content: space-between;
  }

  .navbar__site-name {
    margin-top: 10px;
  }

  .navbar__list {
    display: flex;
    width: 100%;
  }

  .navbar__list li {
    flex: 1;
    margin-left: 0;
    border-radius: 0;
    justify-content: center;
    text-align: center;
  }

  .lottery {
    width: 90%;
    height: 540px;
  }

  .lottery__title {
    font-size: 18px;
    margin: 30px 0px;
  }

  .info-item__title {
    width: 110px;
    font-size: 14px;
    line-height: 1.5;
  }
  
  .info-item__content {
    width: 350px;
    font-size: 14px;
    line-height: 1.63;
    letter-spacing: 2px;
  }
  
  .lottery__btn {
    font-size: 16px;
    width: 250px;
    height: 40px;
    margin-bottom: 40px;
  }

  .first .lottery__result, .second .lottery__result, .third .lottery__result, .none .lottery__result {
    font-size: 20px;
    margin: 10px;
  }

  .first .lottery__btn, .second .lottery__btn, .third .lottery__btn, .none .lottery__btn {
    position: static;
    margin-top: 30px;
  }

  .footer__top .wrapper {
    flex-direction: column-reverse;
  }

  .footer__info {
    margin-top: 16px;
    margin-right:0px;
  }
}
